
@import url(http://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Droid+Sans+Mono);

body {
	font-family: 'Roboto Slab', Serif;
	margin: 0 0 0 0;
	color: black;
	font-size: 10.5pt;
	background: white;
}
a {
	text-decoration: none;
	color: #844;
}
div.head {
	font-weight: bold;
	padding-top: 2em;
	padding-bottom: 2em;
	border-bottom: 2px dashed #ddd;
	background-image: url(../img/logo.svg);
	background-repeat: no-repeat;
	background-position: 1em 1.5em;
	background-color: #ccc;
	margin: 0 0 0 0;
	position: absolute;
	width: 100%;
	z-index: 1;
}
div.head h1 {
	color: black;
	font-size: 30pt;
	padding: 0.3em 0 0.3em 4em;
	text-align: left;
	margin: 0;
	background: white;
	border-top: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
	text-shadow: 3px 3px 2px #ddd;
}
div.head a {
	font-size: 18pt;
	color: #484;
	margin: 0;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto',Sans-Serif;
	font-size: 10pt;
	text-align: left;
	color: #484;
}
h1 a {
	color: #484;
}
h1 {
	font-size: 24pt;
}
h2 {
	font-size: 20pt;
}
h3 {
	font-size: 16pt;
}
ol,ul {
	padding-left: 3ex;
	font-size: 16pt;
	font-weight: bold;
	margin-top: 0.5em;
	color: #484;
}
ul ul {
	font-size: 90%;
	font-weight: normal;
	margin-top: 0;
}
ol ol {
	font-size: 90%;
	font-weight: normal;
	margin-top: 0;
}
ul a[name] {
	color: black;
}
p {
	font-size: 14pt;
	margin-left: 1ex;
	margin-top: 1em;
}
div.main {
	margin: 0 3ex 0 190px;
	padding: 150px 3ex 2em 3ex;
	color: black;
	font-size: 14pt;
	background: white;
}
div.sidebar {
	background-color: #ccc;
	border-right: 2px dashed #888;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 180px;
	height: 100%;
	padding-top: 150px;
	margin-right: 10px;
}
div.sidebar ul, div.sidebar a {
	color: #484;
	list-style-type: none;
	padding-left: 0.5ex;
}
div.warning {
	background-color: yellow;
	border: 2px solid red;
}
div.warning h1, div.warning p {
	padding-left: 1ex;
}
pre {
	font-family: 'Droid Sans Mono', monospace, fixed;
	font-weight: normal;
	background-color: #ddd;
}
table {
	margin-top: 1em;
	font-size: 12pt;
	font-weight: normal;
	border-collapse: collapse;
}
th {
	border: 1px solid black;
	padding: 0.5em;
	background-color: #dfd;
}
td {
	border: 1px solid black;
	padding: 0.5em;
	background-color: #dfd;
}
code {
	font-family: 'Droid Sans Mono', monospace, fixed;
	font-weight: normal;
}
