
@import url(http://fonts.googleapis.com/css?family=Open+Sans|Noto+Sans|Droid+Sans+Mono);

body {
	font-family: 'Noto Sans', Sans-Serif;
	margin: 0 0 0 0;
	color: black;
	font-size: 0.45cm;
	background: white;
}
a {
	text-decoration: none;
	color:  #c82605;
}
div.head {
	font-weight: bold;
	padding-top: 0;
	padding-bottom: 0;
	background-image: url(../img/gradient_bottom.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	background-color: #024e66;
	margin: 0 0 0 0;
	position: absolute;
	width: 100%;
	height: 160px;
	z-index: 1;
}
div.head h1 {
	color: white;
	font-size: 40pt;
	padding: 0.6em 0 0.3em 4em;
	text-align: left;
	margin: 0;
	background: none;
}
div.head div.ornament {
	background-image: url(../img/background_grad_top.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	background-color: none;
	float: right;
	width: 240px;
	height: 160px;
}
div.head a {
	font-size: 18pt;
	color:  #c82605;
	margin: 0;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans', Sans-Serif;
	font-size: 0.45cm;
	font-weight: normal;
	text-align: left;
	color: #024e66;
}
h1 a {
	color: #484;
}
h1 {
	font-size: 0.9cm;
}
h2 {
	font-size: 0.75cm;
}
h3 {
	font-size: 0.65cm;
}
ol,ul {
	padding-left: 3ex;
	margin-top: 0.5em;
}
ul ul, ol ol {
	margin-top: 0;
}
p {
	margin-left: 1ex;
	margin-top: 1em;
}
div.main {
	margin: 0 3ex 0 180px;
	padding: 200px 3ex 2em 3ex;
	color: black;
	background: white;
}
div.sidebar {
	font-family: 'Open Sans', Sans-Serif;
	background-color: none;
	color:  #c82605;
	position: fixed;
	top: 0;
	left: 0;
	width: 180px;
	height: 100%;
	padding-top: 180px;
	margin-right: 10px;
}
div.sidebar ul li {
	margin-bottom: 0.5cm;
}
div.sidebar ul, div.sidebar a {
	list-style-type: none;
	padding-left: 0.5ex;
	font-size: 0.8cm;
	font-weight: bold;
}
div.nav {
	font-weight: bold;
	font-size: 0.55cm;
}
div.footer {
	font-weight: bold;
	font-size: 0.55cm;
	margin-top: 1em;
}
div.warning {
	background-color: yellow;
	border: 2px solid red;
}
div.warning h1, div.warning p {
	padding-left: 1ex;
}
div.main-article {
	padding: 0 3ex 2ex 3ex;
	border-bottom: 2px dashed #024e66;
	margin-bottom: 2em;
}
div.date {
	font-style: italic;
	float: right;
	padding-top: 2em;
}
div.as {
	margin-top: 200px;
	margin-left: 3ex;
	float: right;
}
table.layout {
	padding: 0;
}
table.layout td {
	padding: 0;
	vertical-align: top;
	background-color: white;
	border: none;
}
table {
	margin-top: 1em;
	font-size: 0.5cm;
	font-weight: normal;
	border-collapse: collapse;
}
th {
	border: 1px solid #024e66;
	padding: 0.5em;
	background-color: #dfd;
}
td {
	border: 1px solid black;
	padding: 0.5em;
	background-color: #dfd;
}
pre, code, kbd, samp {
	font-family: 'Droid Sans Mono';
	font-size: 90%;
}
p code {
	margin-left: 0.5em;
	margin-right: 0.5em;
}
p code code {
	white-space: pre;
	display: block;
	background-color: #ffffd0;
	color: #004000;
	padding: 0.2em 1ex 0.2em 1ex;
}
